/* <Top Design> -------------------------------------------------------------------------------- */

:root {
	--header-height: 52px;
	--main-sticky-offset: var(--header-height);
	--main-visible-height: calc(100vh - var(--header-height));
}

:root {
	--default-background-color: #ffffff
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--default-background-color);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	background-color: rgb(240, 255, 255);
	width: 100%;
	height: var(--header-height);
	border-bottom: 1px solid #e8e8e8;
	z-index: 100;
}

footer {
	background-color: rgb(240, 255, 255);
	width: 100%;
}

.common-inner {
	padding: 0 40px;
	max-width: 1500px;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.common-inner {
		padding: 0 28px;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Header> --------------------------------------------------------------------------------------- */

.header-inner {
	height: 100%;
}

.header-content {
	--header-content-padding-y: 14px;
	--header-content-height: calc(var(--header-height) - 2 * var(--header-content-padding-y));
	display: flex;
	box-sizing: border-box;
	padding: var(--header-content-padding-y) 0;
	height: 100%;
}

.header-logo {
	height: 100%;
	margin-right: 40px;
}

.header-logo img {
	height: 100%;
	object-fit: contain;
}

.header-title {
	height: 100%;
}

.header-title h1 {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: var(--header-content-height);
	font-size: 20px;
	font-weight: 800;
	color: #666666;
}

@media screen and (max-width: 1120px) {
	:root {
		--header-height: 50px;
	}

	.header-logo {
		margin-right: 24px;
	}

	.header-title h1 {
		font-size: 18px;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Main> -------------------------------------------------------------------------------------- */

.main-inner {
	box-sizing: border-box;
	display: grid;
	grid-template-areas: "left center";
	grid-template-columns: minmax(240px, 1fr) minmax(0, 3.5fr);
	gap: 16px;
}

@media screen and (max-width: 960px) {
	.main-inner {
		grid-template-areas: "center";
		grid-template-columns: 100%;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Main Left> --------------------------------------------------------------------------------- */

.main-left {
	grid-area: left;
	position: sticky;
	top: var(--main-sticky-offset);
	box-sizing: border-box;
	width: 100%;
	height: var(--main-visible-height);
	overflow: auto;
	padding: 0 0;
	background-color: var(--default-background-color);
}

.main-left-inner {
	padding: 40px 0;
}

.contents {
	padding: 0 20px 0 0;
}

.contents ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 24px;
}

.contents > ul {
	padding: 0;
}

.contents ul * {
	color: #444444;
	text-decoration: none;
}

.contents ul a {
	display: block;
	padding: 6px 12px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
}

.contents ul a.current {
	background: linear-gradient(to right, rgb(220, 255, 255), rgb(240, 255, 255));
}

.contents ul a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.contents ul a.nohover:hover {
	background-color: unset;
}

.contents .item-title {
	font-size: 16px;
}

.contents .item-describe {
	font-size: 13px;
	color: #999999;
}

.main-left-head {
	display: none;
	height: 32px;
	position: relative;
}

.main-left-close-button {
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: red;
	cursor: pointer;
	user-select: none;
}

.main-left-close-button:hover {
	color: rgb(210, 0, 0);
}

@media screen and (max-width: 960px) {
	.main-left {
		position: fixed;
		left: 0;
		top: var(--main-sticky-offset);
		width: 100%;
		max-width: 420px;
		height: var(--main-visible-height);
		border-right: 1px solid #e8e8e8;
		transition: left 0.5s;
		z-index: 10;
	}

	.main-left.open {
		left: 0;
	}

	.main-left.close {
		left: -100%;
	}

	.main-left-head {
		display: block;
	}

	.contents {
		padding: 0 20px 0 20px;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Main Center> ------------------------------------------------------------------------------- */

.main-center {
	grid-area: center;
	box-sizing: border-box;
	min-height: var(--main-visible-height);
	width: 100%;
}

.content-wrapper {
	padding: 20px 20px 60px 20px;
}

@media screen and (max-width: 600px) {
	.content-wrapper {
		padding: 20px 0 60px 0;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Prev Next Bar> ----------------------------------------------------------------------------- */

.prev-next-bar {
	--prev-next-bar-height: 20px;
	display: flex;
	margin-top: 40px;
	padding: 12px 0;
	border-top: 1px solid #dddddd;
	height: var(--prev-next-bar-height);
}

.prev-bar {
	display: flex;
	width: 50%;
	height: 100%;
}

.next-bar {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
}

.prev-next-bar a {
	display: flex;
	text-decoration: none;
	color: rgb(0, 87, 194);
	font-weight: bold;
	line-height: var(--prev-next-bar-height);
	height: var(--prev-next-bar-height)
}

.prev-next-bar a:hover {
	color: rgb(0, 58, 130);
}

.prev-next-bar svg {
	width: var(--prev-next-bar-height);
	height: var(--prev-next-bar-height);
	line-height: var(--prev-next-bar-height);
}

.prev-bar svg {
	transform: rotate(180deg);
	margin-right: 6px;
}

.next-bar svg {
	margin-left: 6px;
}

.prev-next-bar a svg path {
    fill: rgb(0, 87, 194);
}

.prev-next-bar a:hover svg path {
	fill: rgb(0, 58, 130);
}

.prev-next-text {
	display: block;
	height: var(--prev-next-bar-height);
	line-height: var(--prev-next-bar-height);
}

@media screen and (max-width: 600px) {
	.prev-next-bar {
		--prev-next-bar-height: 18px;
	}

	.prev-next-bar a {
		font-size: 14px;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Widgets> ----------------------------------------------------------------------------------- */

.widgets .main-left-open-widget {
	display: none;
	--main-left-open-widget-height: 60px;
	position: fixed;
	box-sizing: border-box;
	border: 1px solid #e8e8e8;
	border-left: none;
	left: 0;
	top: calc(var(--main-sticky-offset) + 0.5 * var(--main-visible-height) - 0.5 * var(--main-left-open-widget-height));
	background-color: rgb(248, 248, 248);
	width: 20px;
	height: var(--main-left-open-widget-height);
	cursor: pointer;
	user-select: none;
	z-index: 5;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.widgets .main-left-open-widget:hover {
	background-color: rgb(240, 240, 240);
}

.widgets .main-left-open-widget div {
	width: 100%;
	height: 100%;
	line-height: var(--main-left-open-widget-height);
	text-align: center;
	color: gray;
}

@media screen and (max-width: 960px) {
	.widgets .main-left-open-widget {
		display: block;
	}
}

/* --------------------------------------------------------------------------------------------- */

/* <Footer> ------------------------------------------------------------------------------------ */

.footer-inner {
	display: block;
}

.footer-content {
	padding: 40px 0;
	font-size: 15px;
	color: #555555;
}

.footer-content a {
	color: rgb(0, 87, 194);
	text-decoration: none;
}

.footer-content a:hover {
	text-decoration: underline;
}
